@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    background: transparent;
}

#background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #20354E, #3399CC, #20354E, #3399CC);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    z-index: -2;
}

* {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Uniform text shadow */
}

.navbar {
    position: fixed;
    top: -50px; /* Adjusted position to make the navbar slightly higher up */
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: top 0.3s ease-in-out;
    text-align: center; /* Center-align all text content */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding-bottom: 5px;
}

.navbar-visible {
    top: 0; /* Adjust the top property to make it visible */
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight effect on hover */
    border-radius: 5px; /* Add rounded corners */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 20px; /* Adjust padding to ensure content fits */
    box-sizing: border-box; /* This ensures padding is included in the width */
    z-index: 10;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header h1 {
    text-align: center;
    font-size: 15vw;
    margin-top: 15vh;
    margin-bottom: 0; /* Remove bottom margin to bring the tagline closer */
}

header h2 {
    font-size: 3vw; /* Smaller than the main title */
    margin-top: 0vh; /* Adjust as needed */
    text-align: center;
    padding-top: 10vh; /* Adjust this value as needed */
}

main {
    z-index: 1;
    position: relative;
}

.info-page main {
    max-width: 60%; /* Adjust based on preference */
    margin: 0 auto; /* Centers the content */
    padding-bottom: 100px; /* Vertical padding and horizontal for a bit of spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

.info-page p {
    max-width: 600px; /* Adjust based on preference */
    margin: 0px auto; /* Adds vertical spacing and centers horizontally */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 8vh 0; /* Increased spacing */
}

section h2 {
    font-size: 6vw;
    margin-bottom: 10px; /* Reduce the bottom margin as needed */
}

section h3 {
    text-align: center;
    font-size: 10vw;
}

section h4 {
    text-align: center;
    font-size: 3vw;
}

section p {
    font-size: 2.5vw;
    max-width: 800px; /* Adjust based on preference */
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    gap: 20px; /* Adjusts the gap between grid items */
    justify-content: center; /* Center the items horizontally */
    align-items: start; /* Align items to the start of the container */
    padding: 20px 0; /* Add some padding around the entire grid */
}

.pricing-tier {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: auto; /* Let the grid control the width */
    min-width: 250px;
    text-align: center;
    box-sizing: border-box;
    position: relative; /* Ensure this is set for correct badge positioning */
}

.pricing-tier h3, .pricing-tier p, .pricing-tier .small-text {
    margin: 10px 0;
}

.pricing-tier h4 {
    margin-top: 10px; /* Adjust this value as needed to reduce the space */
    margin-bottom: 5px; /* Reduce the bottom margin */
}

.pricing-tier .small-text {
    margin-top: 0; /* Reduce the top margin */
}

.small-text {
    font-size: 1vw;
}

.large-heading {
    font-size: 11vw; /* Assuming 11vw is the size you've used for the similar large headings */
    text-align: left;
}

.original-price {
    text-decoration: line-through;
    color: white; /* Ensures visibility */
}

section > p:last-child, section > img:last-child {
    margin-bottom: 0px; /* Adjust as needed */
}

#contact h2 {
    margin-bottom: 10px; /* Reduce the bottom margin of the h2 to bring it closer to the email address. Adjust this value as needed. */
}

#contact p {
    margin-top: 0; /* Reduce the top margin of the paragraph to bring it closer to the 'contact' heading. Adjust as needed. */
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 70px;
    height: 70px;
    background-color: #20354E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    transform: rotate(45deg);
}

.badge:before {
    content: ""; /* Hide one of the texts if duplicated by CSS */
    position: absolute;
    width: 160%;
    text-align: center;
    font-size: 10px;
    transform: translate(-30%, 60%);
    transform-origin: center center;
    rotate: -45deg;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #3399CC;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2577a9;
}

a[href^="mailto:"] {
    color: #3399CC; /* Adjusted to match your theme */
}

@keyframes arrow-bounce {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

/* Arrow Container */
#arrow-container {
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    bottom: 60px; /* Adjust based on your layout */
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-bounce 2s infinite;
    z-index: 99;
    opacity: 1; /* Make sure the arrow is fully visible initially */
}

#arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white */
}

/* Arrow Hidden State */
.arrow-hidden {
    opacity: 0 !important; /* Ensure fading out, add !important to override any potential conflicts */
    transition: opacity 0.5s ease-in-out !important;
}

#animation-trigger {
    position: relative;
    top: -600px; /* Adjust this value to move the trigger higher */
}

#emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Ensure emojis appear above other content */
}

#image-animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Ensure emojis appear above other content */
}

#image-animation-trigger {
    position: relative;
    top: -700px; /* Adjust this value to move the trigger higher */
}

#signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form input[type="email"] {
    height: 40px; /* Adjusts the height of the email input field */
    font-size: 1rem; /* Increases font size */
    padding: 0 10px;
    margin-right: 10px; /* Adds a margin between the input field and the button */
    border: 2px solid #ccc; /* Example border styling */
    border-radius: 5px; /* Rounds the corners of the input field */
}

#signup-form button {
    font-size: 1rem; /* Matches the font size of the input */
    border: none;
    background-color: #3399CC; /* Example button color */
    color: white;
    cursor: pointer;
    padding: 10px 15px; /* Tightens the button around the text */
    border-radius: 5px; /* Rounds the corners of the button */
    height: 40px; /* Matches the height of the email input field */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Keeps the text within the button */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}
}

#signup-form button:hover {
    background-color: #2577a9; /* Darker shade on hover */
}

.emailsignup-page main {
    max-width: 60%; /* Adjust based on preference */
    margin: 0 auto; /* Centers the content */
    padding-bottom: 100px; /* Vertical padding and horizontal for a bit of spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

.emoji {
    position: absolute;
    font-size: 6rem; /* Adjust based on desired size */
    opacity: 1; /* Start invisible for fade-in effect */
    transition: transform 0.5s linear; opacity 2s ease-out; /* Ensure duration matches or exceeds scroll animation duration */
    z-index: -1; /* Ensure emojis appear above other content */
}

.repeated-image {
    position: absolute;
    width: 600px; /* Adjust size as needed */
    opacity: 0; /* Start with images invisible */
    transition: transform 0.5s linear; opacity 2s ease-out; /* Ensure duration matches or exceeds scroll animation duration */
}

.section-image {
    max-width: 100%; /* Ensures image is no wider than its container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes default inline behavior, helping with spacing */
    margin: 0 auto; /* Centers image if it's smaller than the container */
}

.navbar-visible {
    top: 0; /* Adjust as needed to make it visible */
}

/* Specific size adjustments for all section images */
.main-window-image,
.options-menu-image,
.setup-image,
.lost-focus-image {
    max-width: 600px; /* Adjust as needed for a smaller, proportional size */
}

.navbar, footer {
    left: 0;
    right: 0;
}

  .pricing-page-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .subscription-section, .lifetime-section {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
  }

/* Toggle Switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Width of the toggle */
  height: 34px; /* Height of the toggle */
  margin: 10px; /* Adjust spacing around the toggle */
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#monthly-price {
    font-size: 24px;
            font-weight: bold;
            background: linear-gradient(to right, #007bff, #ff69b4, #8a2be2); /* Bold blue to vivid pink to purple */
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
}

#annual-price {
    font-size: 24px;
            font-weight: bold;
            background: linear-gradient(to right, #007bff, #ff69b4, #8a2be2); /* Bold blue to vivid pink to purple */
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
}

#lifetime-price {
    font-size: 24px;
            font-weight: bold;
            background: linear-gradient(to right, #007bff, #ff69b4, #8a2be2); /* Bold blue to vivid pink to purple */
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
}

#free-price {
    font-size: 24px;
            font-weight: bold;
            background: linear-gradient(to right, #007bff, #ff69b4, #8a2be2); /* Bold blue to vivid pink to purple */
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
}

.account-section h4 {
    font-size: 1.5rem; /* Smaller headings for sections */
    margin-bottom: 0.5rem; /* Tighter spacing to following content */
}

.account-section p,
.account-section label {
    font-size: 1rem; /* Smaller text for content and labels */
    margin-top: 0.5rem; /* Reduced spacing from previous elements */
}

.account-button {
    font-size: 1rem; /* Smaller button text */
    padding: 0.5rem 1rem; /* Smaller buttons */
    margin-top: 0.5rem; /* Reduced spacing from previous elements */
}

.account-label {
    display: block; /* Ensure label is on its own line for clarity */
    margin-bottom: 0.25rem; /* Space before checkbox */
}

.login-status-container {
    position: fixed; /* Fixed positioning to make it stay in place during scrolling */
    top: 0; /* Align to the top of the viewport */
    right: 0; /* Align to the right of the viewport */
    padding: 2px; /* Add some padding around the text */
    background-color: transparent; /* Clear background */
    z-index: 1000; /* Ensure it stays on top of other content */
    text-align: right; /* Align the text to the right */
    font-family: 'Poppins', sans-serif; /* Your font */
    font-size: 14px; /* Adjust the font size as needed */
}

.login-status-container a {
    color: inherit; /* Make links use the text color they inherit from the parent */
    text-decoration: none; /* No underlining */
}

.login-container a {
    color: inherit; /* Make links use the text color they inherit from the parent */
    text-decoration: none; /* No underlining */
}

#logout-text {
    display: block; /* Change to block to have it on a new line */
    margin-top: 5px; /* Optional: Add some space above the logout text */
}

#login-link, #logout-link {
    color: #007bff; /* Adjust the link color as needed */
    text-decoration: none; /* Remove underline from links */
}

#logout-link:hover {
    text-decoration: underline; /* Add underline on hover for better UX */
}

@keyframes arrow-bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    #emoji-container, #image-animation-container {
        display: none; /* Hide animation containers on mobile */
    }
    footer {
        padding: 10px 10px; /* Reduce padding on smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    #signup-form button {
        padding: 10px 10px; /* Adjust padding */
        font-size: 14px; /* Reduce font size */
        width: 100%; /* Make the button full width */
        max-width: 200px; /* But limit its maximum width */
    }

    #signup-form input[type="email"] {
        margin-bottom: 10px; /* Add space between input and button */
        width: 100%; /* Full width to match button */
        max-width: 200px; /* Limit maximum width */
    }
}
